<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="background-color: white;">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav nav-fill w-75 d-flex align-items-center" style="justify-content: space-evenly;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Campaign</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Absentee Ballot</a>
                </li>
            </ul>
        </div>
    </div>
</nav>